* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #141414;
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-color: #000;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
h2 {
  text-align: center;
}

.searchMovie {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.searchMovie > input {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
}

.searchMovie > button {
  padding: 10px 20px;
  background-color: #e50914;
  border: none;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchMovie > button:hover {
  background-color: #ff0a16;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  padding: 20px;
}

.movie {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.movie:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.movie > img {
  width: 100%;
  height: auto;
}

.movie > p {
  margin: 10px;

  color: #ccc;
}
.rating {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #e50914;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modalContent {
  background-color: #141414;
  margin: 15% auto;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.close {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #e50914;
}

.pagination span button {
  background-color: #555;
}

#topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
  display: none;
}

#topButton:hover {
  background-color: #ff0a16;
}
